<%- model_class = Theme -%>
<div class="page-header">
  <h1>Current Lego Themes</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>


    </tr>
  </thead>
  <tbody>
    <% @themes.each do |theme| %>
      <tr>
        <td><%= link_to theme.id, theme_path(theme) %></td>
        <td><%= theme.name %></td>

        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_theme_path(theme), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      theme_path(theme),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_theme_path,
            :class => 'btn btn-primary' %>
